<div class="row mt-4 mb-4">
  <div class="col-md-4 text-center">
    <img src="{{ album.artworkUrl100 }}" alt="" />
  </div>
  <div class="col-md-8">
    <h1>{{ album.artistName }}</h1>
    <h2>{{ album.collectionName }}</h2>
    <p>{{ album.copyright }}</p>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col col-3 mb-4" *ngFor="let item of songs">
    <app-option-song [song]="item"></app-option-song>
  </div>
</div>
<iframe
  width="100"
  height="100"
  src="https://www.youtube-nocookie.com/embed/Sw8_fWj_5oQ?controls=0"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
  allowfullscreen
></iframe>
